
<div class="conteiner">
    <div class="home-top">
        <i class="fab fa-twitter fa-4x"></i>
		<h1>「いま」起きていることを<br>
		見つけよう</h1>

		<h2>Twitterをはじめよう</h2>

	<%= link_to '新規投稿', new_post_path %>
	<%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
	
    </div>
</div>


